# Logs and databases #
######################
*.log
*.sql
*.sqlite

# RAILS files #
###############
/log/*.log
log/*.log
/tmp
log/*
log/
*.rbc
*.sassc
.sass-cache
/.bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
.project
*.gem
*.rbc
.bundle
.config
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock
config/database.yaml
log/test.log
ritrack.sublime-workspace
ritrack.sublime-project
