/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Reset body padding and margins */
{
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffdd0;
}

div#container {
  width: 100%;
  margin: auto;
  margin-top: 5px;
}

header {
  background-color: #ab0010;
  margin-left: 5px;
  height: 40px;
  width: auto;
}

header div#logo {
  font-weight: bold;
  color: #d53545;
  padding-top: 0.75em;
  padding-left: 1.0em;
  font-size: 15px;
}

nav {
  background-color: #d89261;
  height: 26px;
  margin-left: 5px;
}

nav ul {
  font-family: Arial, Verdana;
  font-size: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: block;
  position: relative;
  float: left;
}

nav li ul {
  display: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  background: #d89261;
  margin-left: 1px;
  white-space: nowrap;
  height: 20px; /* Width and height of top-level nav items */
  width: 120px;
  text-align:center;
}

nav ul li a:visited {
  color: #733000;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #733000;
  color: #d89261;
  font-size: 14px;
  font-weight: bold;
}

nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
}

nav li:hover li {
  float: none;
  font-size: 14px;
}

nav li:hover a {
  background-color: #d89261;
  height:20px; /* Height of lower-level nav items is shorter than main level */
  font-weight: bold;
  width: 120px;
  font-size: 14px;
  transition: background-color 0.5s linear;
}

nav li:hover li a:hover {
  background-color: #733000;
  color: #d89261;
  font-weight: bold;
}

nav ul li ul li a {
    text-align: left; /* Top-level items are centered, but nested list items are left-aligned */
    padding-left: 5px;
    transition: background-color 0.5s linear;
}

section#main {
  margin-left: 5px;
  width: auto;
}

/*aside {
  background-color: #8CCAF0;
  margin-left: 5px;
  width: 180px;
  padding-right: 1px;
  float: left;
}*/

footer {
 clear: both;
  padding: 10px;
  background-color: #C4589E;
  height: 40px;
  margin-left: 5px;
  color: #890059;
  width: auto;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #890059;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #890059
}
