/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Reset body padding and margins */
{
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

div#container {
  width: 100%;
  margin: auto;
  margin-top: 5px;
}

footer {
  padding: 10px;
}

header {
  background-color: #025928;
  margin-left: 5px;
  height: 25px;
  color: #000000;
}

nav {
  background-color: #025928;
  height: 26px;
  margin-left: 5px;
}

nav ul {
  font-family: Arial, Verdana;
  font-size: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: block;
  position: relative;
  float: left;
  background-color: #025928;
}

nav li ul {
  display: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  background: #025928;
  color: #ffffff;
  margin-left: 1px;
  white-space: nowrap;
  height: 20px; /* Width and height of top-level nav items */
  width: 120px;
  text-align:center;
  border-bottom: 1px solid #025928;
}

nav ul li a:hover {
  background: #3C8C30;
  color: #ffffff;
  font-size: 14px;
}

nav ul li a:visited {
  color: #ffffff;
}

nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
}

nav li:hover li {
  float: none;
  font-size: 12px;
}

nav li:hover a {
  background: #3C8C30;
  height:20px; /* Height of lower-level nav items is shorter than main level */
  color: #000000;
  font-weight: normal;
  width: 120px;
}

nav li:hover li a:hover {
  background: #025928;
  color: #ffffff;
  font-weight: bold;
  border-bottom: 1px;
  border-bottom-color: #3C8C30;
}

nav ul li ul li a {
    text-align: left; /* Top-level items are centered, but nested list items are left-aligned */
    padding-left: 5px;
}

section#main {
  width: 1165px;
  float: right;
}

aside {
  background-color: #8CCAF0;
  margin-left: 5px;
  width: 180px;
  padding-right: 1px;
  float: left;
}

footer {
  background-color: #025928;
  height: 40px;
  margin-left: 5px;
  clear: both;
  color: #000000;
}
