/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#globalMenu,
#globalMenu ul {
    list-style: none;
}
#globalMenu {
    float: left;
}
#globalMenu > li {
    float: left;
}
#globalMenu li a {
display: block;
    height: 2em;
    line-height: 2em;
    padding: 0 1.5em;
    text-decoration: none;
}
#globalMenu ul {
    position: absolute;
    display: none;
z-index: 999;
}
#globalMenu ul li a {
    width: 80px;
}
#globalMenu li:hover ul {
    display: block;
}

/* Main menu
------------------------------------------*/
#globalMenu {
    font-family: Arial;
    font-size: 12px;
    background: #ff8be8;
}
#globalMenu > li > a {
    color: #fff;
    font-weight: bold;
}
#globalMenu > li:hover > a {
    background: #f09d28;
    color: #000;
}

/* Submenu
------------------------------------------*/
#globalMenu ul {
    background: #f09d28;
}
#globalMenu ul li a {
    color: #000;
}
#globalMenu ul li:hover a {
    background: #ffc97c;
}
