/* Reset body padding and margins */
{
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffdd0;
}

div#container {
  width: 100%;
  margin: auto;
  margin-top: 5px;
}

section#main {
  padding-bottom: 20px;
}

header#hlogin {
  background-color: #ab0010;
  margin-left: 5px;
  height: 40px;
  width: auto;
}

div#logo {
  font-weight: bold;
  color: #d53545;
  padding-top: 0.5em;
  padding-left: 1.0em
}

footer#flogin {
  position:fixed;
  left: 0px;
  bottom: 5px;
  background-color: #C4589E;
  height: 40px;
  margin-left: 5px;
  color: #890059;
  width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #890059;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #890059;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #890059;
}

.session_form {
  margin-top: 10%;
  margin-left: 30%;
}

fieldset {
  background-color: #d89261;
  width: 50%;
  border: 1px solid #733000;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(8,8,8,0.6);
}

legend {
  font-weight: bold;
  padding: 0.2em 0.5em;
  color: #733000;
  background-color: #d89261;
  border: 1px solid #733000;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgba(8,8,8,0.7);
}

label {
  font-weight: bold;
  color: #733000;
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.5em;
  text-align:right;
}

input {
  margin-top: 5px;
}

input:focus {
  background-color: #C4589E;
  color: #890059;
  transition: background-color 1.0s ease-in;
}

#button {
  font-weight: bold;
  margin-top: 20px;
  border-radius: 4px;
  color: #733000;
  background-color: #d89261;
  border: 1px outset #733000;
  transition: background-color 1.0s ease-in;
}

#button:hover{
  background-color: #733000;
  color: #d89261;
  box-shadow: 2px 2px 2px rgba(8,8,8,0.7);
}

#button:active{
  background-color: #733000;
  color: #d89261;
  border: 1px inset #0F3A02;
  box-shadow: 2px 2px 2px rgba(8,8,8,0.7) inset;
}
