/* Reset body padding and margins */
{
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffdd0;
}

div#container {
  width: 100%;
  margin: auto;
  margin-top: 5px;
}

section#main {
  padding-bottom: 20px;
}

header#hlogin {
  background-color: #50a632;
  margin-left: 5px;
  height: 40px;
  width: auto;
}

div#logo {
  font-weight: bold;
  color: #195905;
  padding-top: 0.5em;
  padding-left: 1.0em
}

footer#flogin {
  background-color: #30a469;
  height: 40px;
  margin-left: 5px;
  color: #044a26;
  width: auto;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #044a26;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #044a26
}

.session_form {
  margin-top: 25px;
  margin-left: 20%;
}

fieldset {
  background-color: #50a632;
  width: 50%;
  border: 1px solid #640613;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(8,8,8,0.6);
}

legend {
  font-weight: bold;
  padding: 0.2em 0.5em;
  color: #195905;
  background-color: #50a632;
  border: 1px solid #640613;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgba(8,8,8,0.7);
}

label {
  font-weight: bold;
  color: #195905;
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.5em;
  text-align:right;
}

input {
  margin-top: 5px;
}

#button {
  font-weight: bold;
  margin-top: 20px;
  border-radius: 4px;
  color: #195905;
  background-color: #50a632;
  border: 1px outset #0F3A02;
  /*box-shadow: 2px 2px 2px rgba(8,8,8,0.9);*/
}

#button:hover{
  background-color: #195905;
  color: #50a632;
  box-shadow: 2px 2px 2px rgba(8,8,8,0.7);
}

#button:active{
  background-color: #50a632;
  color: #195905;
  border: 1px inset #0F3A02;
  box-shadow: 2px 2px 2px rgba(8,8,8,0.7) inset;
}
