// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session_form {
  margin-top: 25px;
  margin-left: 20%;
}

fieldset {
  background-color: #3C8C30;
  width: 50%;
  border: 2px solid #7d4303;
}

legend {
  font-weight: bold;
  padding: 0.2em 0.5em;
  color: #ffffff;
  background-color: #025928;
  border: 1px solid #7d4303;
}

label {
  font-weight: bold;
  color: #000000;
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.5em;
  text-align:right;
}

input {
  margin-top: 5px;
}

#button {
  font-weight: bold;
  margin-top: 20px;
  border-radius: 4px;
}

