<!DOCTYPE html>
<html>
<head>
  <title>Ritrack</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
      <header>
        <b>riTrack</b>
      </header>
  <nav>
    <ul>
      <li color="#ffffff"><a href="/">Home</a></li>
      <li><a href="/about">About Us</a>
        <ul>
        <li><a href="/crew">Our Crew</a></li>
        <li><a href="/history">Plumbing History</a></li>
        <li><a href="/vision">Plumbing Vision</a></li>
        </ul>
      </li>
      <li><a href="/products">Products</a>
        <ul>
        <li><a href="/pipes">Pipes</a></li>
        <li><a href="/wrenches">Wrenches</a></li>
        <li><a href="/solder">Soldering Tools</a></li>
        <li><a href="/pbc">PVC Joints</a></li>
        <li><a href="/sprockets">Other Joints</a></li>
        </ul>
      </li>
      <li><a href="/services">Services</a>
        <ul>
        <li><a href="/visites">Site Visits</a></li>
        <li><a href="/spot">Spot Welding</a></li>
        <li><a href="/tig">TiG Welding</a></li>
        <li><a href="/mig">MiG Welding</a></li>
        <li><a href="/drain">Drain Service</a></li>
        </ul>
      </li>
      <li><a href="/contact">Contact</a>
        <ul>
        <li><a href="/email">Via Email</a></li>
        <li><a href="/contact_form">Web Form</a></li>
        <li><a href="/pigeon">Carrier Pigeon</a></li>
        </ul>
      </li>
    </ul>
  </nav>

      <section id="main" role="main">
        <article>
          <div>
            <%= yield %>
          </div>
        </article>
      </section>

      <aside>
        <h2>Colors</h2>
        <ul>
          <li>Red</li>
          <li>Green</li>
          <li>Yellow</li>
          <li>Blue</li>
          <li>Brown</li>
          <li>Black</li>
          <li>White</li>
        </ul>

        <h2>Nations</h2>
        <ul>
          <li>United States</li>
          <li>China</li>
          <li>Portugal</li>
          <li>Germany</li>
          <li>Italy</li>
          <li>France</li>
          <li>Mexico</li>
        </ul>
      </aside>

      <footer>
        footer
      </footer>
    </div> <!--! end of #container -->
  </body>

</html>
