<!DOCTYPE html>
<html>
<head>
  <title>Ritrack</title>
  <%= stylesheet_link_tag    "login", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "login", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
      <header id="hlogin">
        <div id="logo">
          riTrack &copy;
        </div>
      </header>

      <section id="main" role="main">
        <article>
          <div>
            <%= yield %>
          </div>
        </article>
      </section>

      <footer id="flogin">
        Footer
      </footer>
    </div> <!-- end of #container -->
  </body>

</html>
